.display-wrap{
    width: 240px;
    background-color: $white;
}
.process{
    @include type();
    color: $dark-red;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    padding: 0 25px;
    position: relative;
    top: 45px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.1s;
}
.result{
    @include type();
    color: $dark-red;
    background-color: $white;
    text-align: center;
    height: 60px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: right;
    padding: 5px 25px 0 25px;
}
.result-show{
    top: 0;
    font-size: 18px;
    font-weight: normal;
    transition: 0.1s;
}